@tailwind base;
@tailwind components;
@tailwind utilities;

/* tailwind.css */

@layer base {
  html[data-theme='light'] {
    --primary-color: #6d28d9;
    --primary-color-light: #8b56df;
    --secondary-color: #233b99;
    --secondary-color-light: #475bb4;
    --danger-alert: #f8d7da;
    --light-color: #cddceb;
    --background-primary-color: #ffffff;
    --background-secondary-color: #f0efec;
    --lines-color: #dad9d6;
    --title-color: #1e293b;
    --text-color: #4b5563;
    --text-color-light: #c5c5cd;
    --text-color-button: #ffffff;
    --likes-color: #f15f72;
    --transparent: transparent;
  }

  html[data-theme='dark'] {
    --primary-color: #36daf0;
    --primary-color-light: #22b4c7;
    --secondary-color: #3953b9;
    --secondary-color-light: #5d70c5;
    --danger-alert: #c03942;
    --light-color: #c3cbd1;
    --background-primary-color: #27272a;
    --background-secondary-color: #444c56;
    --lines-color: #6d6d6c;
    --title-color: #e9d5ff;
    --text-color: #d2d2d2;
    --text-color-light: #57575c;
    --text-color-button: #ffffff;
    --likes-color: #f48f9d;
    --transparent: transparent;
  }
}

@layer utilities {
  .primary-button {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    border-radius: 0;
    color: var(--text-color-button);
    transition: all 0.2s ease-out;
    min-width: 140px;
    padding: 10px 0;

    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;

    &:hover {
      opacity: 0.8;
      background-color: var(--primary-color-light);
    }

    &:active {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
      opacity: 0.5;
    }
  }
}
